/*https://github.com/asciidoctor/asciidoctor-reveal.js/issues/199*/
.reveal section img {
    border: 0px !important;
    box-shadow: none !important;
}
.font-smaller {
    font-size: smaller;
}
.font-larger {
    font-size: larger;
}
